@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "animate.min.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
    background: #fff url(../img/fabric_plaid.png) fixed;
    -webkit-backface-visibility: inherit;
}
#wrapper {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px #b4b4b4 !important;
    color: #000000;
    font-size: 13px;
    font-family: Open Sans;
}
a, button, input[type="submit"] {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/* h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 400;
line-height: 1.1;
color: inherit;
color:#555;
}  */
::selection {
    background: #99cc66;
    color: #fff;
}
a, a:visited, a:focus, a:active, a:hover { outline: 0 !important }
ul { list-style: none }
.top_line { background: #99CC66 }
.animated-area { overflow: hidden }
.top_line p {
    margin-bottom: -1px;
    padding-top: 6px;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    font-family: open sans;
}
ul.social-links {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
ul.social-links li {
    display: inline-block;
    margin: 0;
    list-style: none;
}
ul.social-links li a {
    display: inline-block;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
ul.social-links li a:hover {
    background-color: rgba(0,0,0,0.15);
    color: #fff;
}
.page_head {
    padding-top: 0px;
    background-color: #fff;
}  .logo { margin-top: 34px }
nav {
    position: relative;
    left: 0px;
    z-index: 9999 !important;
    width: 100%;
    background: #fff;
}
.sticky {
    position: fixed;
    border-bottom: 1px solid #EEEEEE;
    background: rgba(255,255,255,0.95);
}
.menu ul ul { width: auto !important }
.menu ul ul li { width: 180px }
.menu ul li.sub li {
    width: 140px;
    border-left: 1px dotted #eee;
}
.menu { float: right }
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    position: relative;
    float: left;
}
.menu ul li ul {
    position: absolute;
    left: 0px;
    display: block;
    visibility: hidden;
    width: 100%;
    opacity: 0;
}
.menu ul li:hover ul {
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.menu ul li:hover ul, .menu ul li li:hover ul, .menu ul li li li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu ul li a {
    display: block;
    padding: 30px 15px 40px;
    color: #4A4845;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: open sans;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
}
.menu li a:hover {
    outline: none;
    border-color: #99cc66;
    color: #99cc66 !important;
    text-decoration: none;
}
.menu li a:before {
    display: block;
    margin: 29px 0 -29px;
    color: #666;
    content: attr(data-description);
    text-transform: none;
    font-weight: 300;
    font-size: 11px;
    font-family: open sans;
    line-height: 0;
}
.menu li.current a { color: #99cc66 }
.menu li.current { background: #F9F9F9 }
.menu li:hover { background: #F9F9F9 }
.menu li:hover a { color: #99cc66 }
.menu ul ul { background: #ffffff }
.menu ul li ul li a {
    padding: 10px 24px;
    border-bottom: 1px dotted rgba(0,0,0, 0.08) !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 12px;
}
.menu ul li ul {
    border-bottom: 1px solid #99cc66;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.menu ul li ul li a:hover {
    background-color: #f9f9f9;
    color: #99cc66 !important;
}
nav.sticky .logo { margin-top: 17px }
nav.sticky ul li a {
    padding: 21px;
    font-weight: normal;
    font-size: 12px;
}
nav.sticky ul li a:before { content: '' }
.dl-trigger { display: none }
.dl-back { display: none }
.menu ul ul ul {
    top: 0px !important;
    left: 180px;
    margin-top: 0px !important;
}
.menu ul li ul li ul { visibility: hidden !important }
.menu ul li ul li:hover ul { visibility: visible !important }
.btn-slider {
    padding: 8px 14px;
    border-color: #4A4A4A;
    background-color: #4A4A4A;
    color: #fff !important;
}
.btn-slider:hover {
    border-color: #222;
    background-color: #222;
    color: #fff !important;
}
.marg25 { margin-top: 25px }
.marg50 { margin-top: 50px }
.marg75 { margin-top: 75px }
.marg100 { margin-top: 100px }
.marg125 { margin-top: 125px }
.marg150 { margin-top: 155px }
.one {
    float: left;
    width: 32px;
    height: 32px;
    background: url(../img/radi.png) no-repeat;
}
[class^="iconbox-"], [class*=" iconbox-"] {
    display: inline-block;
    background-image: url(../img/icons.png);
    background-position: top left;
    background-repeat: no-repeat;
    vertical-align: middle !important;
    line-height: 1;
}
.iconbox-64{ width: 32px; height: 32px; background-position: 0 0; } 
.iconbox-addressbook{ width: 32px; height: 32px; background-position: 0 -82px; } 
.iconbox-archive-delete{ width: 32px; height: 32px; background-position: 0 -164px; } 
.iconbox-archive-download{ width: 32px; height: 32px; background-position: 0 -246px; } 
.iconbox-archive-new{ width: 32px; height: 32px; background-position: 0 -328px; } 
.iconbox-back{ width: 32px; height: 32px; background-position: 0 -410px; } 
.iconbox-bookmark{ width: 32px; height: 32px; background-position: 0 -492px; } 
.iconbox-burn{ width: 32px; height: 32px; background-position: 0 -574px; } 
.iconbox-calculator{ width: 32px; height: 32px; background-position: 0 -656px; } 
.iconbox-cash{ width: 32px; height: 32px; background-position: 0 -738px; } 
.iconbox-cd{ width: 32px; height: 32px; background-position: 0 -820px; } 
.iconbox-chat{ width: 32px; height: 32px; background-position: 0 -902px; } 
.iconbox-clapperboard{ width: 32px; height: 32px; background-position: 0 -984px; } 
.iconbox-color{ width: 32px; height: 32px; background-position: 0 -1066px; } 
.iconbox-copy{ width: 32px; height: 32px; background-position: 0 -1148px; } 
.iconbox-creditcard{ width: 32px; height: 32px; background-position: 0 -1230px; } 
.iconbox-desktop-alternative{ width: 32px; height: 32px; background-position: 0 -1312px; } 
.iconbox-desktop{ width: 32px; height: 32px; background-position: 0 -1394px; } 
.iconbox-down{ width: 32px; height: 32px; background-position: 0 -1476px; } 
.iconbox-edit{ width: 32px; height: 32px; background-position: 0 -1558px; } 
.iconbox-exclamation{ width: 32px; height: 32px; background-position: 0 -1640px; } 
.iconbox-exit{ width: 32px; height: 32px; background-position: 0 -1722px; } 
.iconbox-folder-forward{ width: 32px; height: 32px; background-position: 0 -1804px; } 
.iconbox-folder-smart{ width: 32px; height: 32px; background-position: 0 -1886px; } 
.iconbox-folder{ width: 32px; height: 32px; background-position: -82px 0; } 
.iconbox-forward-black{ width: 32px; height: 32px; background-position: -82px -82px; } 
.iconbox-forward-mail{ width: 32px; height: 32px; background-position: -82px -164px; } 
.iconbox-forward{ width: 32px; height: 32px; background-position: -82px -246px; } 
.iconbox-globe{ width: 32px; height: 32px; background-position: -82px -328px; } 
.iconbox-harddrive{ width: 32px; height: 32px; background-position: -82px -410px; } 
.iconbox-heineken{ width: 32px; height: 32px; background-position: -82px -492px; } 
.iconbox-help{ width: 32px; height: 32px; background-position: -82px -574px; } 
.iconbox-info{ width: 32px; height: 32px; background-position: -82px -656px; } 
.iconbox-install{ width: 32px; height: 32px; background-position: -82px -738px; } 
.iconbox-intel{ width: 32px; height: 32px; background-position: -82px -820px; } 
.iconbox-keyboard{ width: 32px; height: 32px; background-position: -82px -902px; } 
.iconbox-lock{ width: 32px; height: 32px; background-position: -82px -984px; } 
.iconbox-mac-alternative{ width: 32px; height: 32px; background-position: -82px -1066px; } 
.iconbox-mac-alternative2{ width: 32px; height: 32px; background-position: -82px -1148px; } 
.iconbox-mac{ width: 32px; height: 32px; background-position: -82px -1230px; } 
.iconbox-mail{ width: 32px; height: 32px; background-position: -82px -1312px; } 
.iconbox-minus-white{ width: 32px; height: 32px; background-position: -82px -1394px; } 
.iconbox-minus{ width: 32px; height: 32px; background-position: -82px -1476px; } 
.iconbox-monitor{ width: 32px; height: 32px; background-position: -82px -1558px; } 
.iconbox-moon-alternative{ width: 32px; height: 32px; background-position: -82px -1640px; } 
.iconbox-moon{ width: 32px; height: 32px; background-position: -82px -1722px; } 
.iconbox-movies{ width: 32px; height: 32px; background-position: -82px -1804px; } 
.iconbox-music{ width: 32px; height: 32px; background-position: -82px -1886px; } 
.iconbox-new{ width: 32px; height: 32px; background-position: -164px 0; } 
.iconbox-next{ width: 32px; height: 32px; background-position: -164px -82px; } 
.iconbox-notebook{ width: 32px; height: 32px; background-position: -164px -164px; } 
.iconbox-open{ width: 32px; height: 32px; background-position: -164px -246px; } 
.iconbox-pause{ width: 32px; height: 32px; background-position: -164px -328px; } 
.iconbox-phone{ width: 32px; height: 32px; background-position: -164px -410px; } 
.iconbox-picture-cast{ width: 32px; height: 32px; background-position: -164px -492px; } 
.iconbox-picture{ width: 32px; height: 32px; background-position: -164px -574px; } 
.iconbox-play{ width: 32px; height: 32px; background-position: -164px -656px; } 
.iconbox-plus{ width: 32px; height: 32px; background-position: -164px -738px; } 
.iconbox-podcast{ width: 32px; height: 32px; background-position: -164px -820px; } 
.iconbox-preferences{ width: 32px; height: 32px; background-position: -164px -902px; } 
.iconbox-public{ width: 32px; height: 32px; background-position: -164px -984px; } 
.iconbox-record{ width: 32px; height: 32px; background-position: -164px -1066px; } 
.iconbox-refresh{ width: 32px; height: 32px; background-position: -164px -1148px; } 
.iconbox-remove{ width: 32px; height: 32px; background-position: -164px -1230px; } 
.iconbox-rewind-black{ width: 32px; height: 32px; background-position: -164px -1312px; } 
.iconbox-rewind{ width: 32px; height: 32px; background-position: -164px -1394px; } 
.iconbox-rss-alternative{ width: 32px; height: 32px; background-position: -164px -1476px; } 
.iconbox-rss{ width: 32px; height: 32px; background-position: -164px -1558px; } 
.iconbox-search{ width: 32px; height: 32px; background-position: -164px -1640px; } 
.iconbox-send{ width: 32px; height: 32px; background-position: -164px -1722px; } 
.iconbox-server{ width: 32px; height: 32px; background-position: -164px -1804px; } 
.iconbox-settings{ width: 32px; height: 32px; background-position: -164px -1886px; } 
.iconbox-smiley-sad{ width: 32px; height: 32px; background-position: -246px 0; } 
.iconbox-smiley{ width: 32px; height: 32px; background-position: -246px -82px; } 
.iconbox-splash{ width: 32px; height: 32px; background-position: -246px -164px; } 
.iconbox-star{ width: 32px; height: 32px; background-position: -246px -246px; } 
.iconbox-stop-alternative2{ width: 32px; height: 32px; background-position: -246px -328px; } 
.iconbox-stop{ width: 32px; height: 32px; background-position: -246px -410px; } 
.iconbox-stop-alternative{ width: 32px; height: 32px; background-position: -246px -492px; } 
.iconbox-sun-alternative{ width: 32px; height: 32px; background-position: -246px -574px; } 
.iconbox-sun{ width: 32px; height: 32px; background-position: -246px -656px; } 
.iconbox-terminal{ width: 32px; height: 32px; background-position: -246px -738px; } 
.iconbox-trash-full{ width: 32px; height: 32px; background-position: -246px -820px; } 
.iconbox-trash{ width: 32px; height: 32px; background-position: -246px -902px; } 
.iconbox-unarchive{ width: 32px; height: 32px; background-position: -246px -984px; } 
.iconbox-universal{ width: 32px; height: 32px; background-position: -246px -1066px; } 
.iconbox-unread{ width: 32px; height: 32px; background-position: -246px -1148px; } 
.iconbox-up{ width: 32px; height: 32px; background-position: -246px -1230px; } 
.iconbox-user{ width: 32px; height: 32px; background-position: -246px -1312px; } 
.iconbox-users{ width: 32px; height: 32px; background-position: -246px -1394px; } 
.iconbox-window{ width: 32px; height: 32px; background-position: -246px -1476px; } 
.iconbox-work{ width: 32px; height: 32px; background-position: -246px -1558px; } 
.iconbox-zoom-in{ width: 32px; height: 32px; background-position: -246px -1640px; } 
.iconbox-zoom-out{ width: 32px; height: 32px; background-position: -246px -1722px; } 
.iconbox-none{background: none;}
h1 [class^="iconbox-"], h1 [class*=" iconbox-"], h2 [class^="iconbox-"], h2 [class*=" iconbox-"], h3 [class^="iconbox-"], h3 [class*=" iconbox-"], h4 [class^="iconbox-"], h4 [class*=" iconbox-"], h5 [class^="iconbox-"], h5 [class*=" iconbox-"], h6 [class^="iconbox-"], h6 [class*=" iconbox-"] {
    margin-top: -6px;
    margin-right: 12px;
}
h1 [class^="iconbox-"], h1 [class*=" iconbox-"] { margin-top: -5px }
h2 [class^="iconbox-"], h2 [class*=" iconbox-"] { margin-top: -3px }
.iconbox [class^="iconbox-"], .iconbox [class*=" iconbox-"] {
    display: block;
    float: left;
    vertical-align: text-bottom;
    line-height: 32px;
}
.iconbox p {
    margin: 0 0 0 55px;
    margin-top: 12px;
    color: #555;
    font-weight: 300;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
}
.iconbox h3 {
    margin: -20px 0 8px 55px;
    color: #444;
    font-weight: 400;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
}
.read a {
    display: inline-block;
    color: #99CC66;
}
.title {
    display: block;
    background: url(../img/header_divider.png) repeat-x center;
    line-height: 1 !important;
}
.title span {
    position: relative;
    top: -3px;
    margin-top: -3px;
    padding-right: 14px;
    background: #fff;
    color: #666;
    font-weight: 300;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
.pagination {
    float: right;
    margin: -29px 0 0 0 !important;
    background: #fff;
}
.pagination a {
    float: left;
    margin-left: 7px;
    width: 11px;
    height: 11px;
}
.pagination a.prev:after {
    position: absolute;
    margin-top: -4px;
    color: #d9d9d9;
    content: "\f104";
    font-size: 17px;
    font-family: FontAwesome;
}
.pagination a.next:after {
    position: absolute;
    margin-top: -4px;
    color: #d9d9d9;
    content: "\f105";
    font-size: 17px;
    font-family: FontAwesome;
}
.pagination a.prev:hover:after {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.pagination a.next:hover:after {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.portfolio-block {
    width: 100%;
    border-bottom: 1px solid #9c6;
    background-color: #fcfcfc;
}
.portfolio-image img { max-width: 100% }
.portfolio-name {
    padding-top: 18px;
    color: #555;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.portfolio-text {
    position: relative;
    padding: 10px 10px 15px 10px;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
}
.box {
    overflow: hidden;
    padding: 20px;
    border-left: 3px solid #99cc66;
    background: #fcfcfc;
}
.box h3 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.box p {
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.purch-block {
    display: table;
    margin: auto;
    margin-top: 31px;
}
.btn-purch {
    border-color: #99cc66;
    background-color: #99cc66;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.btn-purch:hover {
    border-color: #97CC5F;
    background-color: #fcfcfc;
    color: #99cc66;
}
.blog-home { width: 100% }
.blog-image img { max-width: 100% }
.blog-name { padding: 15px 0 9px 0 }
.blog-name a {
    color: #555;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.blog-name a:hover {
    color: #99cc66;
    text-decoration: none;
}
.blog-text {
    position: relative;
    color: #666;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
.blog-line hr {
    margin-top: 20px;
    margin-bottom: 10px;
}
.blog-date {
    color: #888;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}
.blog-icons a {
    margin-left: 10px;
    color: #888;
    text-decoration: none;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}
.blog-icons a:hover { color: #99cc66 }
.testimonial .author {
    float: left;
    margin-right: 40px;
    padding: 10px;
    padding-left: 0px;
}
.testimonial .author img {
    width: 87px;
    height: 87px;
}
blockquote {
    padding: 5px 20px;
    color: #555 !important;
    font-size: 13px;
    font-family: 'open sans';
    font-weight: 300;
}
.testimonial blockquote {
    position: relative;
    border-left: 0px !important;
}
.testimonial blockquote:before {
    position: absolute;
    top: 3px;
    left: 98px;
    color: #e8e8e8;
    content: '\f10d';
    font-size: 19px;
    font-family: FontAwesome;
}
.testimonial blockquote p {
    position: relative;
    color: #666;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-style: italic;
}
cite {
    float: left;
    color: #666;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
cite b { font-weight: 600 }
.twitter_fot {
    overflow: hidden;
    height: 50px;
    background: #99CC66;
    color: #fff;
    line-height: 50px;
}
.twitter_fot .tweet_list {
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
.twitter_fot .tweet_list li {
    overflow: hidden;
    width: auto;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
}
.twitter_fot .tweet_list li a {
    color: #fff;
    text-decoration: none;
}
.twitter_fot .tweet_list li a:hover { text-decoration: underline }
.twitter_fot .tweet_list li img {
    float: left;
    margin-right: 22px;
}
.twitter_fot .tweet_list li h6 {
    float: left;
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
}
.twitter_fot .paginat {
    position: relative;
    float: right;
    margin: 0;
    cursor: pointer;
}
.twitter_fot.paginat a {
    float: right;
    margin-left: 10px;
    width: 15px;
    height: 13px;
}
.twitter_fot .paginat a {
    margin-left: 10px;
    text-decoration: none;
}
.twitter_fot .paginat a i {
    color: rgba(0,0,0,0.20);
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.twitter_fot .paginat a:hover i { color: rgba(255,255,255,0.50) }
.twitter_fot.caroufredsel_wrapper {
    float: left;
    width: 80%;
}
.twitter_fot .shadow_top_footer {
    left: 0;
    float: left;
    width: 100%;
    height: 50px;
}
.tweet .loading {
    overflow: hidden;
    width: auto;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
}
.footer {
    padding-bottom: 15px;
    min-height: 300px;
    max-height: 100%;
    background: #5E5E5E;

}
.footer_bottom {
    min-height: 30px;
    max-height: 100%;
    background: #353535;
    color: #fff;
    line-height: 30px;

}
.footer-block {
    margin-top: 27px;
    margin-bottom: 17px;
    color: #fafafa;
    font-weight: 300;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
}
.widget_flickr .flickr_badge_image {
    float: left;
    width: 87px;
    height: 87px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    moz-border-radius: 3px;
}
.widget_flickr img {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.widget_flickr img {
    border: 2px solid #494949;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.widget_flickr img:hover {
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: url("desaturate.svg");
    filter: none;
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.widget_flickr img:hover { border: 2px solid #99CC66 }
.tag_cloud a {
    display: inline-block;
    margin: 0 5px 10px 0px;
    padding: 4px 10px;
    border: 1px solid #494949;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #494949;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2);
    color: #ececec;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}
.tag_cloud a:hover {
    border-color: #99CC66;
    background: #99CC66;
    color: #ffffff !important;
    text-decoration: none;
}
.copyright {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.copyright a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.copyright a:hover { text-decoration: none }
.foot_menu { float: right }
.foot_menu ul li {
    float: left;
    padding-left: 7px;
    list-style: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.foot_menu ul li a {
    color: #fff;
    text-decoration: none;
}
.foot_menu ul li a:hover { text-decoration: underline }
.foot_menu li:after { content: " " }
.foot_menu li:not(:last-of-type):after {
    padding-left: 7px;
    content: "|";
}
.contacts {
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.contacts li {
    margin-bottom: 6px;
    padding-left: 25px;
    color: #eee;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
}
.contacts li.address { background: url(../img/address.png) left center no-repeat }
.contacts li.phone { background: url(../img/phone.png) left center no-repeat }
.contacts li.fax { background: url(../img/fax.png) left center no-repeat }
.contacts li.email { background: url(../img/mail.png) left center no-repeat }
.contacts li.map { background: url(../img/map.png) left center no-repeat }
.images_bg { background: url(../img/map_w.png) no-repeat left center }
.foot-text {
    color: #eee;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
.accordion section {
    border: 1px solid #EEEEEE;
    border-bottom: 0px;
    background-color: #fff;
}
.accordion section:last-child { border-bottom: 1px solid #EEEEEE }
.accordion div {
    display: none;
    height: 100%;
}
.accordion p {
    position: relative;
    padding: 13px 18px;
    color: #666;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
.accordion span a {
    position: relative;
    display: block;
    padding-left: 18px;
    outline: 0;
    color: #555;
    text-decoration: none;
    font-size: 15px;
    font-family: 'open sans', Helvetica;
}
.accordion span {
    display: block;
    padding: 11px 0;
}
.accordion span a:hover { color: #99cc66 }
.accordion span.active a:after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-top: 6px solid #99cc66;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: '';
}
.accordion span.active a { color: #99cc66 }
.openme i { color: #99cc66 }
#blog li:nth-child(even) { margin-left: -1px }
.phone a {
    display: inline-block;
    color: #fff;
}
.fax a {
    display: inline-block;
    color: #fff;
}
.email a {
    display: inline-block;
    color: #fff;
}
.map a {
    display: inline-block;
    color: #fff;
}
.page-name h3 {
    color: #99cc66;
    font-weight: 300;
    font-family: 'Open Sans';
}
.subpage_block {
    display: block;
    float: left;
    font-size: 10px;
}
.subpage_breadcrumbs_dv {
    float: left;
    width: 20px;
    height: 17px;
    background: url(../img/dv.png);
    background-position: center;
    background-repeat: no-repeat;
}
.bbread a { color: #99cc66 }
.welcome {
    float: left;
    padding-top: 14px;
    padding-bottom: 25px;
    width: 100%;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #ffffff;
}
.page-link {
    margin-top: 25px;
    font-size: 11px;
    font-family: open sans;
}
.page-link a {
    display: inline-block;
    color: #99cc66;
    font-size: 11px;
    font-family: open sans;
}
ul.social-links li:last-child  a { margin-right: 0px }
.post-img img { max-width: 100% }
.date-blog {
    float: left;
    text-align: center;
}
.day {
    margin-top: 27px;
    padding: 4px;
    border-radius: 2px 2px 0 0;
    background: #f2f2f2;
    color: #999;
    font-weight: 500;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
}
.month {
    padding: 2px 14px 4px 14px;
    border-radius: 0 0 2px 2px;
    background: #ccc;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.07);
    color: #fff;
    font-family: 'open sans', sans-serif;
}
.date-blog span { display: block }
.post-content { margin: 27px 0 0 0px }
.meta {
    margin: 0 0 45px 100px;
    color: #666;
}
.meta h2 {
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.meta h2 a {
    display: inline-block;
    color: #666;
}
.meta h2 a:hover {
    color: #99cc66;
    text-decoration: none;
}
.meta a { color: #666 }
.meta span {
    float: left;
    margin-right: 12px;
    font-size: 13px;
    font-family: 'open sans';
}
.read { margin-top: 20px }
.meta span a:hover {
    color: #99cc66;
    text-decoration: none;
}
.lineblog {
    margin: 30px 0 50px 0;
    border-bottom: 1px solid #EEEEEE;
}
.car_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}
.pagin .current {
    padding: 5px 11px;
    border-radius: 2px;
    background-color: #99cc66;
    color: #fff;
    font-size: 12px;
    font-family: open sans;
}
.pagin a {
    display: inline-block;
    padding: 5px 11px;
    border-radius: 2px;
    background-color: #353535;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: open sans;
}
.pagin a:hover {
    padding: 5px 11px;
    border-radius: 2px;
    background-color: #99cc66;
    color: #fff;
    font-size: 12px;
}
.searchform {
    padding: 6px 4px 6px 29px;
    padding-left: 29px;
    width: 100%;
    border: 1px solid #d5d5d5;
    background: #ffffff url(../img/zoom.png) no-repeat 8px 8px;
    color: #666666;
    font-weight: 400;
    font-size: 12px;
    font-family: arial, sans-serif;
}
.categories { list-style: none }
.colorend { display: inline-block }
.about_text a { display: inline-block }
.categories a {
    display: block;
    margin-left: -38px;
    padding: 5px 0;
    padding-left: 12px;
    background: url(../img/categories.png) no-repeat left 9px;
    color: #666;
    font-family: "Open Sans", sans-serif;
}
.categories a:hover { color: #99cc66 }
.title-in {
    display: block;
    background: url(../img/header_divider.png) repeat-x center;
    line-height: 1 !important;
    margin-top: 35px;
}
.title-in span {
    position: relative;
    top: -8px;
    padding-right: 14px;
    background: #fff;
    color: #666666;
    font-weight: 300;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
.title-in:first-child { margin-top: 0px }
.form-control:focus {
    outline: 0;
    border-color: #99cc66;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(152,205,96,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(152,205,96,0.6);
}
.tag_cloud_blog a {
    display: inline-block;
    margin: 0 5px 10px 0px;
    padding: 4px 10px;
    border: 1px solid #EDEDED;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.1);
    color: #666;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}
.tag_cloud_blog a:hover {
    border-color: #99CC66;
    background: #99CC66;
    color: #ffffff !important;
    text-decoration: none;
}
.post-2columns:nth-child(odd) {
    float: left;
    padding-right: 25px;
    padding-left: 0px;
    width: 50%;
}
.post-2columns:nth-child(even) {
    float: left;
    padding-right: 0px;
    padding-left: 25px;
    width: 50%;
}
.medium-5 {
    float: left;
    padding-right: 25px;
    padding-left: 0px;
    width: 41.66666666666667%;
}
.medium-7 {
    float: left;
    padding-right: 0px;
    padding-left: 25px;
    width: 58.333333333333336%;
}
.lineblog-med {
    margin: 30px 0 50px 0;
    border-bottom: 1px solid #EEEEEE;
    float: left;
    width: 100%;
}
.day-med {
    padding: 4px;
    border-radius: 2px 2px 0 0;
    background: #f2f2f2;
    color: #999;
    font-weight: 500;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
}
.post-content-med { margin: 0px }
.author-info {
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid rgb(237, 237, 237);
    background: rgb(253, 253, 253);
}
.author-info .author-image {
    float: left;
    margin: 0px 20px 0px 0px;
    width: 80px;
}
.author-bio h4 {
    margin-top: 0px;
    font-weight: 300;
    font-family: open sans;
}
.sharebox h4 {
    float: left;
    margin-top: 13px;
    color: #666;
    font-weight: 400;
    font-size: 16px;
    font-family: Open Sans;
}
ul.social-links-sec-third { margin-top: 13px }
ul.social-links-sec-third li { display: inline-block }
ul.social-links-sec-third li a {
    margin-left: 18px;
    color: #999;
}
ul.social-links-sec-third li a:hover { color: #99cc66 }
.ic_soc {
    display: inline-block;
    font-size: 21px;
}
.lineblog-single {
    float: left;
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
}
.comm {
    display: block;
    float: left;
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    font-size: 18px;
    font-family: 'open sans', sans-serif;
}
.comment-list {
    float: left;
    margin-top: 10px;
    margin-left: -40px;
}
.comment-list li {
    margin-bottom: 30px;
    list-style: none !important;
}
.comment-list li .avatar {
    float: left;
    margin-right: 20px;
}
.comment-list li .avatar img { border: 1px solid #F9F9F9 }
.comment-list li .comment-text {
    margin-left: 58px;
    padding: 20px 20px 20px 30px;
    background: #F9F9F9 url(../img/comment-list.png) no-repeat 0px -40px;
}
.comment-list .author {
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #dedede;
    font-size: 12px;
    font-family: 'open sans', sanf-serif;
}
.comment-list .author span {
    display: block;
    font-weight: 600;
    font-size: 13px;
}
.comment-list li .comment-text .text p { font-size: 12px !important }
.comment-list .children {
    margin-top: 30px;
    margin-left: 26px;
}
.comment-list li:last-child { margin-bottom: 8px !important }
.comment-reply-link { color: #9c6 }
#respond { float: left }
#respond span.required {
    color: #999999;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'open sans', sans-serif;
}
#respond label {
    float: left;
    color: #999999;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    font-family: 'open sans', sans-serif;
}
#respond p.comment-form-author input {
    padding: 10px;
    width: 294px;
    border: 1px solid #cccccc;
}
#respond input, #respond textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 670px;
    border: 1px solid #d5d5d5;
    color: #666666;
    font-weight: 400;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
}
#respond p.comment-form-author {
    position: relative;
    float: left;
    width: 324px;
}
#respond p.comment-form-email {
    position: relative;
    float: right;
    width: 324px;
}
#respond p.comment-form-email input {
    padding: 10px;
    width: 294px;
    border: 1px solid #cccccc;
}
.required { color: red !important }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    z-index: 1;
    pointer-events: none;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.isotope {
    -webkit-transition-property: height,  width;
    -moz-transition-property: height,  width;
    -ms-transition-property: height,  width;
    -o-transition-property: height,  width;
    transition-property: height,  width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform,  opacity;
    -moz-transition-property: -moz-transform,  opacity;
    -ms-transition-property: -ms-transform,  opacity;
    -o-transition-property: -o-transform,  opacity;
    transition-property: transform,  opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.portfolioFilter {
    padding-bottom: 15px;
}
.portfolioFilter ul { padding-left: 0px }
.portfolioFilter ul li {
    float: left;
    padding-left: 0px;
}
.portfolioFilter  a.current {
    background-color: #99cc66;
    color: #fff;
}
.portfolioFilter ul li a {
    display: inline-block;
    margin-right: 7px;
    padding: 5px 11px;
    border-radius: 2px;
    background-color: #353535;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: open sans;
}
.portfolioFilter ul li a:hover {
    background-color: #99cc66;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.portfolio-block-in {
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #9c6;
    background-color: #fcfcfc;
    border: 1px solid #e6e2e2;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.portfolio-block-in:hover {
    background-color: #f7f7f7;
    box-shadow: 2px 2px 5px #cecece;

}
.port-6 {
    position: relative;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    width: 50%;
}
.port-4 {
    position: relative;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    width: 33.33333333%;
}
.port-3 {
    position: relative;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    width: 25%;
}
.portfolio-det {
    color: #666;
    font-size: 13px;
    font-family: open sans;
    line-height: 2;
}
.portfolio-det a { color: #9c6 }
.wid_pol { max-width: 100% }
.name_mar {
    margin-top: 15px;
    color: #666;
    font-weight: 400;
    font-family: open sans;
}
.about_text { margin-top: 10px }
.about_text a { color: #9c6 }
.intro_img {
    float: left;
    padding-top: 3px;
    padding-right: 20px;
}

.name_serv {
    margin-top: -5px;
    font-weight: 600;
    font-weight: open sans;
    font-size: 23px;
    font-size: #666;
}
.size_35 {
    color: #454545;
    font-size: 37px;
}
.name_serv_icons {
    margin: -34px 0 8px 55px;
    color: #565656;
    font-weight: 400;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
}
.error { display: none }
.success { display: none }
.alert { padding: 10px }
.contact-width input {
    margin-top: 20px;
    width: 70%;
}
.contact-width textarea { margin-top: 20px }
.adress_cont {
    font-size: 13px;
    font-family: open sans;
    line-height: 2;
}
.adress_cont a { color: #9c6 }
.icon_foot {
    padding-right: 5px;
    font-size: 16px;
}
.soc-contacts { padding: 0px }
ul.soc-contacts li {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #F0F0F0;
    text-align: center;
    line-height: 40px;
}
ul.soc-contacts li a { color: #999 }
ul.soc-contacts li a:hover { color: #99cc66 }
.plan .price span {
    display: block;
    margin-top: 0px;
    color: #c0c0c0;
    font-weight: 400;
    font-size: 11px;
}
.plan .signup {
    padding: 20px 0px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 3px solid #f6f6f6;
    text-align: center;
}
.plan ul {
    margin: 0 !important;
    padding: 0 !important;
    background: #ffffff;
    list-style: none !important;
}
.plan li {
    padding: 10px 0px;
    background: #fcfcfc;
    text-align: center;
    font-size: 12px;
}
.plan {
    margin-right: -30px;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    text-align: center;
}
.featured {
    margin-top: -4px;
    margin-left: -5px;
    border: 5px solid #e0e0e0 !important;
    background: #fcfcfc;
}
.plan h3 {
    margin: 0;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 600;
    font-size: 16px;
}
.plan.featured h3 {
    border-bottom: none;
    color: #99cc66;
    font-size: 16px;
}
.plan .price {
    display: block;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300;
    font-size: 54px;
    font-family: open sans;
    line-height: 38px;
}
.plan:hover {
    margin-top: -4px;
    margin-left: -5px;
    border: 5px solid #e0e0e0 !important;
    background: #fcfcfc;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.plan.featured .signup { border-top: 1px solid #f2f2f2 }
.two_plan { background: #fff !important }
.plan li:last-child { background: none }
.pricing-table .plan:first-child { border-left: 1px solid #e6e6e6 !important }
.plan.featured .price { color: #99cc66 }
.btn-price {
    background: #9c6;
    color: #fff;
}
.btn-price:hover {
    border: 1px solid #9c6;
    background: #fff;
    color: #99cc66;
}
.main_pad {
    padding: 60px 0 130px 0;
    text-align: center;
}
.oops {
    color: #9c6;
    text-align: center;
    font-weight: 400;
    font-size: 107px;
    font-family: open sans;
    line-height: 140px;
}
.ask-question {
    color: #555;
    font-size: 20px;
}
.ask-question span { padding-left: 45px }
.clients-s { overflow: hidden }
.clients-s a.img-hover {
    position: relative;
    display: block;
}
.clients-s img {
    float: left;
    margin-right: 25px;
    width: 120px;
    height: 120px;
    border: solid 1px #e1e1e1;
    background: #f7f7f7;
}
.clients-s img.img-hover { display: none }
.clients-s a:hover img.img-hover, .clients-s:hover img.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.clients-s a { color: #99cc66 }
.icon_color { color: #9c6 }
.short_left { padding: 0px }
.sub-menu-short li {
    padding-left: 12px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    background: url(../img/arr-right-mini.png) 0% 50% no-repeat;
    line-height: 50px;
}
.actives { border-right: 1px solid #fff !important }
.actives a {
    display: inline-block;
    color: #9c6 !important;
}
.sub-menu-short li a {
    display: inline-block;
    color: #666;
}
.shortcode_tabs .all_heads_cont {
    position: relative;
    z-index: 5;
    display: block;
    overflow: hidden;
    padding-bottom: 1px;
}
.shortcode_tab_item_title {
    position: relative;
    display: inline-block;
    float: left;
    margin: 50px 5px 0 0;
    padding: 10px 15px;
    min-height: 18px;
    border: #ddd 1px solid;
    border-bottom: none;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
    transition: color 400ms;
}
.all_body_cont {
    display: block;
    margin-top: -2px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background: #ffffff;
    text-align: left;
    font-size: 13px;
}
.shortcode_tab_item_body.active { display: block }
.shortcode_tab_item_body h4 { margin-top: 10px }
.shortcode_tab_item_body { display: none }
.shortcode_tab_item_body { display: none }
.shortcode_tab_item_title.active {
    border-bottom: 1px solid #fff;
    background: #fff;
}
.tooltip_s {
    display: inline-block;
    color: #99CC66;
}
.tooltip_s:hover {
    display: inline-block;
    color: #99CC66;
}
#reset {
    position: absolute;
    margin-top: -26px;
    margin-left: 150px;
    padding: 0px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ccc;
    color: #555;
    font-weight: 400;
    font-size: 10px;
    font-family: open sans;
}
#style-switcher {
    position: fixed;
    top: 20%;
    z-index: 10000;
    color: #fff;
}
#switcher-head {
    position: relative;
    margin: 0;
    padding-left: 20px;
    width: 270px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
}
#switcher-head:before {
    position: absolute;
    top: 1px;
    left: 235px;
    overflow: hidden;
    color: #ECECEC;
    content: "\f013";
    font-size: 30px;
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
#switcher-content {
    overflow: hidden;
    padding: 0px 0 0px 0px;
    width: 225px;
    background-color: rgba(61, 61, 61, 0.8);
}
#switcher-content .el {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #232323;
}
#switcher-content select {
    width: 100%;
    height: 23px;
    outline: none;
    border: 1px solid #EDEDED;
    background-color: #ffffff;
    color: #353535;
    font-size: 13px;
}
#switcher-content .sub-head { margin-bottom: 10px }
#switcher-content ul {
    overflow: hidden;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px;
}
#switcher-content li {
    float: left;
    margin: 0 8px 6px 0;
    list-style-type: none;
}
#switcher-content img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
#switcher-content {
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    moz-border-bottom-right-radius: 6px;
}
#switcher-content form { margin: 0 }
.color-default { background: #d2d1d0 }
.switcher strong { color: inherit }
.switcher-head span { margin-left: 15px }
.switcher-body {
    position: relative;
    padding: 15px;
}
.switcher-trigger {
    position: absolute;
    top: 0;
    right: -40px;
    left: auto;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background-color: #333;
    text-align: center;
    font-size: 24px;
}
.switcher ul.switcher-op-selectors { margin: 0 -5px -5px 0 }
ul.switcher-op-selectors li  a {
    float: left;
    margin-top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.button_switch li a {
    float: left;
    padding: 6px 16px;
    background: #99cc66;
    color: #f1f1f1;
    font-weight: 100;
    font-size: 14px;
    font-family: open sans;
}
.button_switch li a.active {
    background: #f1f1f1;
    color: #99cc66;
}
.button_switch li a:hover {
    background: #f1f1f1;
    color: #99cc66;
    text-decoration: none;
}
.star { font-size: 10px }
.section { font-family: open sans }
.hr-swith {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #777;
}
.prl-1 {
    background: url(../images/parallax.jpg) 100% 10% no-repeat fixed;
    color: #fff;
    min-height: 245px;
    height: 100%;
}
.prlx {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 245px;
    max-height: 100%;
}
.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-per {
    display: inline;
}
.prog-name {
    display: inline;
    font-size: 15px;
    font-weight: 300;
}
.prog-per {
    float: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}
.progress {
    height: 25px;
    background-color: #FCFCFC;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
    margin-bottom: 30px;
}
.progress-bar-success {
    background-color: #99CC66;
}
.welcome_main {
    float: left;
    padding-top: 14px;
    padding-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    background-color: #ffffff;
}
.wel_cen {text-align: center;}
.wel_cen h3 {
    font-weight: 300;
    font-size: 28px;
}
.wel_cenm {text-align: center;}
.wel_cenm h3 {
    font-weight: 300;
    font-size: 28px;
    margin-top:-1px;
 }
.fact-icon {
    text-align: center;
    color: #99CC66;
    font-size: 50px;
}
.fact-numb {
    text-align: center;
    margin-top: 18px;
    font-size: 27px;
}
.fact-name {
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.prlx-1 {
    background-color: #fcfcfc;
    min-height: 245px;
    max-height: 100%;
}
